
.d1 {background: #FFC0CB;}
.d1 input {
  width: 25%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #FF00FF;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}
.d1 button {
  position: relative; 
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #FF7F50;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
    }
    .brd {
    border: 2px solid black; /* Параметры границы */
    width:30px;
    padding: 10px; /* Поля вокруг текста */
   }
   .plus{
	border: 2px solid black;
   	width:150px;
   }
   .notice-success {
   background: linear-gradient(to right, #B22222,#FF00FF,#FFC0CB, #FF7F50);
  border: 2px solid #FFC0CB;
  border-radius: 5px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px 20px 15px 150px;
}
.notice-h4{
 width: 230px;
  background: linear-gradient(to right, #FFC0CB,#E0FFFF,#FFB6C1, #E6E6FA);
  border: 2px solid #FFC0CB;
  border-radius: 5px;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px 20px 15px 170px;


}